@font-face {
    font-family: 'GOUDOSI';
    src: url('./font/GOUDOSI.ttf') format('truetype');
}
@font-face {
    font-family: 'TITLEG';
    src: url('./font/a타이틀고딕1.ttf') format('truetype');
}
@font-face {
    font-family: 'TitleFont';
    src: url('./font/BrushScriptStd.otf') format('truetype');
}
